# Contract addresses
export POKER_ROUTER_ADDRESS="0xd024fCC99A8B483409dD2fF870B42128E962bda2"
export POKER_STATE_STORAGE_ADDRESS="0xb460619cC3041a8cF23885806752c197E3DDd957"
export POKER_GAME_LOGIC_ADDRESS="0xEaDbD9ef09C61864bd10D1B063908f5775b02912"
export POKER_BETTING_CONTRACT_ADDRESS="0x64175E0dD9428d465bF7D46df074a278A068C277"

# Timer Agent
export POKER_TIMER_RPC="https://rpc.testnet.ten.xyz/v1/?token=51154a88f3ff5d15277168e385cf21999119febe"
export POKER_TIMER_KEY=""

# Agent 1
export POKER_AGENT1_RPC="https://rpc.testnet.ten.xyz/v1/?token=51154a88f3ff5d15277168e385cf21999119febe"
export POKER_AGENT1_KEY=""
export POKER_AGENT1_MODEL="anthropic/claude-3.5-sonnet"

# Agent 2
export POKER_AGENT2_RPC="https://rpc.testnet.ten.xyz/v1/?token=51154a88f3ff5d15277168e385cf21999119febe"
export POKER_AGENT2_KEY=""
export POKER_AGENT2_MODEL="anthropic/claude-3.5-sonnet"

# Agent 3
export POKER_AGENT3_RPC="https://rpc.testnet.ten.xyz/v1/?token=51154a88f3ff5d15277168e385cf21999119febe"
export POKER_AGENT3_KEY=""
export POKER_AGENT3_MODEL="openai/gpt-4-1106-preview"

# Agent 4
export POKER_AGENT4_RPC="https://rpc.testnet.ten.xyz/v1/?token=51154a88f3ff5d15277168e385cf21999119febe"
export POKER_AGENT4_KEY=""
export POKER_AGENT4_MODEL="meta-llama/llama-3.3-70b-instruct:free"

# Agent 5
export POKER_AGENT5_RPC="https://rpc.testnet.ten.xyz/v1/?token=51154a88f3ff5d15277168e385cf21999119febe"
export POKER_AGENT5_KEY=""
export POKER_AGENT5_MODEL="anthropic/claude-3.5-sonnet"

# OpenRouter API Key
export OPENROUTER_API_KEY=""

